.player__wrapper {
  display: flex;
  flex-direction: row;
}

.player__top-container {
  height: 8rem;
  background-color: red;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.player__name-container {
  font-size: 4rem;
  font-family: "Estonia";
}

.player__bottom-container {
}

.player__bottom-left-container {
}

.player__skills-column {
}

.player__inspiration {
}

.player__proficiency-bonus {
}

.player__passive-wisdom {
}

.player__proficiencies-container {
}

.player__bottom-middle-container {
}

.player__bottom-middle-top-container {
}

.player__armor-class {
}

.player__initiative {
}

.player__speed {
}

.player__current-hp-container {
}

.player__maximum-hit-points {
}

.player__temporary-hp {
}

.player__hit-dice {
}

.player__attacks-and-spellcasting {
}

.player__right-container {
}
